/*CREADO POR NAYELI ALEJANDRA CABANILLAS HERNANDEZ - 75929723@CERTUS.EDU.PE*/
/*SELECTOR DE ELEMENTOS*/
h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    font-size: 3em;
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 2em;
    color: cornsilk;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*VAMOS A APLICAR ESTILO A LAS IMAGENES*/
#contenedor_principal{
    width: 1600px;
    height:auto;
    position:relative;
    margin:auto;
    align-items: center;
    right: 8%;
    }
.contenedor_imagen_texto{
    width:335px;
    height:auto;
    position:relative;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    }
.imagen, .texto{
    width:100%;
    height:auto;
    position:relative;
    display:inline;
    }
.texto{
    height:auto;
    text-align:center
    }
/*SELECTOR DE CLASE* SE INVOCA CON EL NOMBRE: CLASS: "  "*/
p.parrafo {
    color: rgb(12, 12, 12);
    font-style: italic; /*ESTILO DE FUENTE CURSIVA*/
    font-size: 1em;
    text-align: center;
}
/*SELECTOR DE ID* SE INVOCA CON EL NOMBRE: ID: " "*/
#TITULO {
font-size: 2em;
color: rgba(255, 0, 0, 0.932);
text-align: center;
}
/*VAMOS A APLICAR ESTILOS A LOS BOTONES*/
.button {
    background-color: rgb(139, 44, 44); /*COLOR DE FONDO DLE BOTON*/
    color: rgb(254, 255, 253); /* COLOR DE LA FUENTE DE TEXTO*/
    padding: 15px  32px; /*DIMENSIONES DEL BOTON*/ 
    text-align: center; /*CENTRAMOS EL TEXTO DENTRO DEL BOTON*/
    font-size: 15px; /*TAMAÑO DE LA FUENTE = TEXTO*/
}
/*APLICAREMOS EL EFECTO PARALLAX*/
/*AQUI LE DAMOS DIMENSION TOTAL DE ANCHO Y ALTURA*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%
}
/*AQUI LE INDICAMOS AL HTML QUE LA DECCION TIENE DIMENSIONES
 TODA LONGITUD DE LA PANTALLA*/
section {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0;
}
/*ESTILOS PARA NUESTRO EFECTO PARALLAX FIXED - DEJA ESTATICA LA 
IMAGEN EL NO-REPEAT EVITA REPETIR LA IMAGEN EN TODA LA PANTALLA 
(IMAGENES PEQUEÑAS) Y EL 50% 50% PERMITE CENTRAR LA IMAGEN DE FONDO*/
/*COVER = FONDO TIPO PORTADA*/
.parallax {
    background: fixed beige no-repeat 50% 50%;
    background-size: cover;
}
/*AQUI ESTOY LLAMANDO LAS IMAGENES DE FONDO PARA CADA SECCIÓN*/
#seccion01 {
    background-image: url(img/seccion2.jpg);
    font-family: monospace;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}

#seccion02 {
    background-image: url(img/seccion2.jpg);
    font-family: cursive;
    font-size: 100%;
    font-weight: lighter;
    text-align: center;
}
#seccion03 {
    background-image: url(img/naranja.jpg);
    font-family: cursive;
    font-size: 200%;
    font-weight: lighter;
    text-align: center;
}