/*CREADO POR NAYELI ALEJANDRA CABANILLAS HERNANDEZ - 75929723@CERTUS.EDU.PE*/
/*SELECTOR DE ELEMENTOS*/
h2 {
    font-size: 3em;
    color: cornsilk;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 4em;
    color: rgba(160, 39, 39, 0.582);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/*SELECTOR DE CLASE* SE INVOCA CON EL NOMBRE: CLASS: "  "*/
p.parrafo {
    color: rgb(12, 12, 12);
    font-style: italic; /*ESTILO DE FUENTE CURSIVA*/
    font-size: 1.5em;
}
/*SELECTOR DE ID* SE INVOCA CON EL NOMBRE: ID: " "*/
#TITULO {
font-size: 3em;
color: rgba(255, 0, 0, 0.932);
text-align: center;
}
/*VAMOS A APLICAR ESTILOS A LOS BOTONES*/
.button {
    background-color: rgb(139, 44, 44); /*COLOR DE FONDO DLE BOTON*/
    color: rgb(254, 255, 253); /* COLOR DE LA FUENTE DE TEXTO*/
    padding: 15px  32px; /*DIMENSIONES DEL BOTON*/ 
    text-align: center; /*CENTRAMOS EL TEXTO DENTRO DEL BOTON*/
    font-size: 15px; /*TAMAÑO DE LA FUENTE = TEXTO*/
}