/*CREADO POR NAYELI ALEJANDRA CABANILLAS HERNANDEZ - 75929723@CERTUS.EDU.PE*/
/*SELECTOR DE ELEMENTOS*/
h2 {
    font-size: 4em;
    color: cornsilk;
    text-align: center;
}
h1 {
    font-size: 5em;
    color: lightblue;
    text-align: center;
}